NARRIX_PROFILE=dev
NARRIX_COMPOSE_PROJECT_NAME=narrix-dev
NARRIX_FRONTEND_PORT=18080
NARRIX_BACKEND_PORT=13000
NARRIX_DB_NAME=narrix_dev
NARRIX_DB_USER=narrix_dev
NARRIX_DB_PASSWORD=change-me-dev
NARRIX_DB_VOLUME=narrix_dev_pgdata
NARRIX_REDIS_VOLUME=narrix_dev_redisdata
NARRIX_NETWORK_NAME=narrix_dev_net
NARRIX_JWT_SECRET=replace-with-dev-jwt-secret
NARRIX_CONFIG_ENCRYPTION_KEY=replace-with-dev-config-key
NARRIX_IMAGE_TAG=dev-latest
